h1{
   color: green;
   font-size: 300%;
}
H2{
  color: green;
  font-size: 200%;
}
H3{
  color: Black;
  font-size: 200%;
}

p{
   font-family: "comic sans";
   text-indent: 35px;
   margin-left: 21px;
}

#content {
   background-color: #BFBFBF;
   width: 5000px;
   min-height: 3000px;
   padding: 10px;
   border: 9px dotted;
   font-size: 20px;

}
